{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ productCategory.title }}</h1>
    <div class="w3-third">
    <img src="{{ asset('uploads/product-category/images/' ~ productCategory.image) }}" />
    <table class="w3-table">
        <tbody>
        <tr>
            <th>Slug</th>
            <td>{{ productCategory.slug }}</td>
        </tr>
        <tr>
            <th>Parent</th>
            <td>{% if productCategory.parent %}{{ productCategory.parent.title }}{% endif %}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ productCategory.description }}</td>
        </tr>
        <tr>
            <th>Rank</th>
            <td>{{ productCategory.rank }}</td>
        </tr>
        </tbody>
    </table>

    <h2>Subcategories</h2>
    {% for child in children %}
        <p><a href="{{ path('product-category_display', { 'id': child.id }) }}">{{ child.title }}</a></p>
    {% endfor %}

    <h2>Products</h2>
    {% for product in productCategory.products %}
        <p><a href="{{ path('product_display', { 'id': product.id }) }}">{{ product.title }}</a></p>
    {% endfor %}


{% endblock %}
