{% extends 'base.html.twig' %}

{% block body %}
    <h1>Products list</h1>

    <table class="w3-table-all">
        <thead>
            <tr class="w3-teal">
                <th>Code</th>
                <th>Slug</th>
                <th>Title</th>
                <th>Subtitle</th>
                <th>Description</th>
                <th>Price</th>
                <th>Rank</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.code }}</td>
                <td>{{ product.slug }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.subtitle }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.rank }}</td>
                <td><a class="w3-btn w3-green w3-round-large" href="{{ path('product_display', { 'id': product.id }) }}">View product</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
