{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categories list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Slug</th>
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
                <th>Rank</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for productCategory in productCategories %}
            <tr>
                <td><a href="{{ path('admin_product-category_show', { 'id': productCategory.id }) }}">{{ productCategory.id }}</a></td>
                <td>{{ productCategory.slug }}</td>
                <td>{{ productCategory.title }}</td>
                <td>{{ productCategory.description }}</td>
                <td>{{ productCategory.image }}</td>
                <td>{{ productCategory.rank }}</td>
                <td>{% if productCategory.createdAt %}{{ productCategory.createdAt|date('Y-m-d') }}{% endif %}</td>
                <td>{% if productCategory.updatedAt %}{{ productCategory.updatedAt|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('admin_product-category_show', { 'id': productCategory.id }) }}">Show</a>
                    <a class="btn btn-warning" href="{{ path('admin_product-category_edit', { 'id': productCategory.id }) }}">Edit</a>
                    <a class="btn btn-danger" href="#">Remove</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<ul>#}
        {#<li>#}
            <a class="btn btn-primary" href="{{ path('admin_product-category_new') }}">Add Category</a>
        {#</li>#}
    {#</ul>#}
{% endblock %}
